<article class="cart-item">
  <div class="item-media">
    <img [src]="item.img" [alt]="item.name" />
  </div>

  <div class="item-copy">
    <h4>{{ item.name }}</h4>
    @if (item.tag) {
      <span class="item-tag {{ item.tagColor ?? 'bg-emerald-500' }}">{{ item.tag }}</span>
    }
  </div>

  <button type="button" class="remove-item" (click)="removeFromCart(item.id)" aria-label="Remove {{ item.name }} from cart">
    <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
  </button>
</article>
