.card {
  --bg-color: #111;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 4vw;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: calc(4vw + 20px);
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
  font-weight: 800;
}
.words::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(white 10%, transparent 30%, transparent 80%, white 90%);
  z-index: 1;
}

.word {
  display: block;
  height: 100%;
  padding-left: 20px;
  animation: spin_4991 8s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.info-container p {
  width: 80%;
  position: relative;
}

.info-container p:nth-child(odd) {
  align-items: flex-start;
}

.info-container p:nth-child(even) {
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}

.info-container p:nth-child(odd):after,
.info-container p:nth-child(even):after {
  content: '';
  width: 20px;
  height: 40px;
  background-color: var(--color-slate-100);
  position: absolute;
  bottom: -16px;
  z-index: -1;
}

.info-container p:nth-child(odd):after {
  border-bottom-right-radius: 2rem;
  left: 20px;
}

.info-container p:nth-child(even):after {
  border-bottom-left-radius: 2rem;
  right: 20px;
}

.certificates-container > div {
  scroll-snap-type: x mandatory;
  anchor-name: --my-carousel;
}

.certificates-container > div::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: var(--color-emerald-700);
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  position-anchor: --my-carousel;
  align-self: anchor-center;
  background-color: var(--color-emerald-100);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.certificates-container > div::scroll-button(*):disabled {
  color: var(--color-slate-400) !important;
  cursor: unset;
}

.certificates-container > div::scroll-button(*):hover,
.certificates-container > div::scroll-button(*):focus {
  opacity: 1;
}

.certificates-container > div::scroll-button(left) {
  content: '❮';
  right: calc(anchor(left));
}

.certificates-container > div::scroll-button(right) {
  content: '❯';
  left: calc(anchor(right));
}

@media (max-width: 680px) {
  .card {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
  .loader {
    font-size: 6vw;
    height: calc(14vw + 20px);
    padding: 0;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
  }
  .word {
    padding-left: 0;
  }

  .certificates-container > div::scroll-button(*) {
    display: none;
  }
}

.hero-card:hover {
  animation: coin-flip 5s cubic-bezier(0, 0.2, 0.8, 1) 1;
}

@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
