<footer class="footer-shell">
  <ul class="footer-links" aria-label="Contact links">
    <li class="footer-link-item">
      <fa-icon
        [icon]="faPhone"
        class="footer-link-icon"
        aria-label="phone number"
        aria-hidden="false"
      ></fa-icon>
      <a href="tel:+34 637 46 70 24" class="footer-link">Phone</a>
    </li>
    <li class="footer-link-item">
      <fa-icon
        [icon]="faEnvelope"
        class="footer-link-icon"
        aria-label="email"
        aria-hidden="false"
      ></fa-icon>
      <a href="mailto:eduardo.pereyrayraola@gmail.com" class="footer-link">Email</a>
    </li>
    <li class="footer-link-item">
      <fa-icon
        [icon]="faLinkedin"
        class="footer-link-icon"
        aria-label="LinkedIn"
        aria-hidden="false"
      ></fa-icon>
      <a
        href="https://www.linkedin.com/in/eduardo-jose-pereyra-yraola/"
        target="_blank"
        class="footer-link"
        >LinkedIn</a
      >
    </li>
    <li class="footer-link-item">
      <fa-icon
        [icon]="faGithub"
        class="footer-link-icon"
        aria-label="GitHub"
        aria-hidden="false"
      ></fa-icon>
      <a href="https://github.com/EduardoPereyra" target="_blank" class="footer-link">Github</a>
    </li>
  </ul>
  <p class="footer-copy">&copy; {{ currentYear }} Eduardo Pereyra Yraola. All rights reserved.</p>
</footer>
